version: '3'
services:
  php-apache:
    container_name: php-apache
    build: ./docker/php-apache
    volumes:
      # Apache Config
      - ./docker/php-apache/apache/apache2.conf:/etc/apache2/apache2.conf
      - ./docker/php-apache/apache/envvars:/etc/apache2/envvars
      - ./docker/php-apache/apache/magic:/etc/apache2/magic
      - ./docker/php-apache/apache/ports.conf:/etc/apache2/ports.conf
      # Apache Logs (Dont Work)
      ##- ./docker/php-apache/apache/logs/access.log:/var/log/apache2/access.log
      ##- ./docker/php-apache/apache/logs/error.log:/var/log/apache2/error.log
      # Apache Working Directory
      - ./src/:/var/www/html/
    networks:
      - backend
    ports:
      #- "80:80"   #127.0.0.1
      #- "8080:80" #127.0.0.1:8080
      #- "8000:80" #127.0.0.1:8000
      - "80:80"
networks:
  backend: